/* Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  overflow: hidden;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.32) 0.5px,
      transparent 0.5px
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.32) 0.5px,
      transparent 0.5px
    );
  background-size: 15px 15px;
  background-color: #9292e7;
}
::selection {
  color: #fff;
  background: #7474f9;
}
.wrapper {
  max-width: 405px;
  margin: 135px auto;
  background-color: #fff;
  border-radius: 7px;
  padding: 30px 0px 20px 0px;
}
.wrapper h1{
    text-align: center;
    margin-bottom: 5px;
}
.wrapper h1 span{
    color: #7474f9;
}
.wrapper h6{
    text-align: center;
    margin-bottom: 15px;
    color: #ccc;
}
.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.task-input img {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
}
.task-input input {
  height: 100%;
  width: 100%;
  padding: 0px 20px 0px 53px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #999;
}
.task-input input:focus,
.task-input input.active {
  padding-left: 52px;
  border: 2px solid #7474f9;
}
.task-input input::placeholder {
  color: #bfbfbf;
}
.controls,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}
.filters span:first-child {
  margin-left: 0;
}
.filters span.active {
  color: #7474f9;
}
.controls .clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  background: #7474f9;
  transition: transform 0.25s ease;
}
.clear-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active {
  transform: scale(0.93);
}
.task-box {
  margin: 20px 25px;
}
.task-box span{
    color: #ccc;
}
.task-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar {
  width: 3px;
}
.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 25px;
}

.task label input {
  margin-top: 3px;
  accent-color: #7474f9;
}
.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
  font-weight: 700;
}
.task label p.checked {
  text-decoration: line-through #7474f9;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box label {
  display: flex;
}
.task-box label input {
  margin-right: 12px;
}
.task .settings {
  cursor: pointer;
  position: relative;
}
.settings .task-menu {
  position: absolute;
  padding: 5px 0;
  right: -5px;
  bottom: -65px;
  background: #fff;
  z-index: 2;
  transition: transform 0.2s ease;
  transform-origin: top right;
  transform: scale(0);
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
.settings:hover .task-menu {
  transform: scale(1);
}
.task-menu li {
  height: 25px;
  font-size: 16px;
  padding: 17px 15px;
  margin-bottom: 2px;
  justify-content: flex-start;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.task-menu li:hover {
  background: #f5f5f5;
}
.task-menu li i {
  padding-right: 8px;
}



@media (max-width: 400px) {
    body{
      padding: 0 10px;
    }
    .wrapper {
      padding: 20px 0;
    }
    .filters span{
      margin: 0 5px;
    }
    .task-input{
      padding: 0 20px;
    }
    .controls{
      padding: 18px 20px;
    }
    .task-box{
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
    }
    .task label input{
      margin-top: 4px;
    }
  }